.card {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 3px lightblue solid;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.header {
    height: 30%;
    color: black;
    text-align: center;
}


  .tag-button {
    background-color: #449bce;
    color: white;
    border: none;
    border-radius: 10%;
    height: 40px;
    width: 90px;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
  }

  .unliked-button {
    background-color: white;
    color: #449bce;
    border-radius: 10%;
    height: 40px;
    width: 90px;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
  }

  .liked-button {
    background-color: #449bce;
    color: white;
    border-radius: 10%;
    height: 40px;
    width: 90px;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
  }

  .share-button {
    background-color: white;
    color: #449bce;
    border-radius: 10%;
    height: 40px;
    width: 90px;
    margin: 5px;
    cursor: pointer;
    padding: 5px;
  }

  .unliked-button:hover {
    background-color: #58a8d6;
    color: white;
  }

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
