.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #449bce;
}

.logo {
  flex: 1;
  padding-left: 25px;
  font-weight: 700;
}

.navbar-link {
  font-size: 25px;
}
.item {
  margin: 5px 15px 10px 5px;
}
