.create-post-page {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #449bce;
  height: 100%;
}
.create-post-wrapper {
  width: fit-content;
  height: fit-content;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px #1f5f84;
}

.title-text {
  font-size: 50px;
  font-weight: 600;
  color: #449bc4;
  margin: 0;
}

.input-field {
  height: 45px;
  width: 500px;
  margin: 0px 0px 5px 0px;
  padding-left: 10px;
  font-size: 25px;
  border-radius: 4px;
}

.submission-button {
  padding: 0%;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 25px;
  background-color: #449bce;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: black;
}

.user {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
